<Layouts.app flash={@flash}>
  <.header>
    Role {@role.id}
    <:subtitle>This is a role record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/roles"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/roles/#{@role}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit role
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Name">{@role.name}</:item>
    <:item title="Description">{@role.description}</:item>
    <:item title="Active">{@role.active}</:item>
  </.list>
</Layouts.app>
